.play-container{
    width: 100%;
    background-color: #f9f9f9;
    padding:20px 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:900px) {
    .play-container{
        padding-left: 0;
        padding-right: 0;
    }
}